


<div class="container">
  <h1>Applicant's profile</h1>


  <%# <div class="form-group" class="text-center">%>
    <div class="col-md-4">
      <label for="name">Name</label>
      <p><%=applicant.name%></p>
    </div>
  <%# </div>%>
  <%# <div class="form-group" class="text-center">%>
    <div class="col-md-4">
      <label for="contact">Contact</label>
      <p><%=applicant.contact%></p>
    </div>
  <%# </div>%>
  <%# <div class="form-group" class="text-center">%>
    <div class="col-md-4">
      <label for="email">Email</label>
      <p><%=applicant.email%></p>
    </div>
  <%# </div>%>

  <%# <div class="form-group" class="text-center">%>
    <div class="col-md-4">
      <label for="experience">Experience</label>
      <p><%=applicant.experience%></p>
    </div>
  <%# </div>%>

  <%# <div class="form-group" class="text-center">%>
    <div class="col-md-4">
      <label for="education">Education</label>
      <p><%if (applicant.education ==1) {%> Diploma <%}%>
      <%if (applicant.education ==2) {%> Bachelor<%}%>
      <%if (applicant.education ==3) {%> Master<%}%>
      <%if (applicant.education ==4) {%> Phd<%}%></p>
    </div>
  <%# </div>%>

  <%# <div class="form-group" class="text-center">%>
    <div class="col-md-4">
      <label for="age">Age</label>
      <p><%=applicant.age%></p>
    </div>
  <%# </div>%>

  <%# <div class="form-group" class="text-center">%>
    <div class="col-md-4">
      <label class="control-label" for="gender">Gender</label>
      <p><%=applicant.gender%></p>
    </div>
  <%# </div>%>

  <%# <div class="form-group" class="text-center">%>
    <div class="col-md-4">
      <label for="expectedPay">Expected Pay</label>
      <p>$<%=applicant.expectedPay%></p>
    </div>
  <%# </div>%>

  <%# <div class="form-group" class="text-center">%>
    <div class="col-md-4">
      <label for="experience">Skills</label>
      <p><%=applicant.experience%></p>
    </div>
  <%# </div>%>

  <%# <div class="form-group">%>
    <div class="col-md-10">
      <label for="exampleTextarea">Bio</label>
      <p><%=applicant.bioText%></p>
    </div>
  <%# </div>%>

<INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;">

</div>
