


<div class="container">
  <h1>Applicant's profile</h1>

  <div class="form-group" class="text-center">
    <label for="name">Name</label>
    <p><%=applicant.name%></p>
  </div>
  <div class="form-group" class="text-center">
    <label for="contact">Contact</label>
    <p><%=applicant.contact%></p>
  <div class="form-group" class="text-center">
    <label for="email">Email</label>
    <p><%=applicant.email%></p>
  </div>
  <div class="form-group" class="text-center">
    <label for="experience">Experience</label>
    <p><%=applicant.experience%></p>
  </div>
  <div class="form-group" class="text-center">
    <label for="education">Education</label>
    <p><%=applicant.education%></p>
  </div>
  <div class="form-group" class="text-center">
    <label for="age">Age</label>
    <p><%=applicant.age%></p>
  </div>

  <div class="control-group" class="text-center">
    <label class="control-label" for="gender">Gender</label>
    <p><%=applicant.gender%></p>
  </div>
  <div class="form-group" class="text-center">
    <label for="expectedPay">Expected Pay</label>
    <p>$<%=applicant.expectedPay%></p>
  </div>
  <div class="form-group" class="text-center">
    <label for="experience">Skills</label>
    <p><%=applicant.skills%></p>
  </div>
  <div class="form-group" class="text-center">
    <label for="exampleTextarea">Bio</label>
    <p><%=applicant.bioText%></p>
  </div>
</div>
