
<div class="container">
  <h2> <%=joblist.title%>  </h2>
  <h3><pre><%=joblist.description%> </pre></h3>


  <% if (user) {
    if (user.id == joblist.user_id) {%>

      <!--<a href="/joblists/<%= joblist.id%>/edit">Edit</a>-->

      <form action="/joblists/<%= joblist.id%>?_method=DELETE" method="POST">
      <INPUT Type="button" class="btn btn-primary" VALUE="Back" onClick="javascript:location.href = '/profile';">
      <button type="button" class="btn btn-primary"  onClick="javascript:location.href = '/joblists/<%= joblist.id%>/edit';" />Edit</button>
      <input type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete?');"value="Delete">
      </form>
      <% }
    }
    %>

    <% if (!user) {%>

      <INPUT Type="button" class="btn btn-primary" VALUE="Apply" onClick="javascript:location.href = '/applicants/applicationForms/<%= joblist.id%>';" />
      <INPUT Type="button" class="btn btn-primary" VALUE="Back" onClick="history.go(-1);return true;">
      <%}%>

</div>
