<div class="container">
<div class = "floatRight">

  <h4>  </h4>
   <form class = "filters" data-job-id="<%=joblist._id%>">
     <fieldset>
    <legend> Candidate Filters </legend>
     <div class="row">
       <div class="form-group">
         <label for="number of years"><span> Min. Exp</span></label>
         <input type="number" name="applicant[experience1]" id = "experience1" placeholder="years" value = 0>

         <label for="number of years" id ="ExperienceInput"><span>Max. Exp </span></label>
         <input type="number" name="applicant[experience2]" id = "experience2" placeholder="years" value = 0>
       </div>
       <div class="form-group">
         <label for="Education types">Min. Education</label>
         <select type="number" name = "applicant[education]" id = "education">
           <option value=1>Diploma</option>
           <option value=2>Bachelor</option>
           <option value=3>Master</option>
           <option value=4>Phd</option>
         </select>
      </div>
      <div class="form-group">
        <label for="age">Min. Age</label>
        <input type="number" name="applicant[age1]" id = "age1" placeholder="years" value = 0>
        <label for="age">Max. Age</label>
        <input type="number" name="applicant[age2]" id = "age2" placeholder="years" value = 0>
      </div>

      <div class="form-group">
        <label for="expected pay">Budgeted Pay</label>
        <input type="number" name="applicant[expectedPay]" id = "expectedPay" placeholder="Budgeted Pay" value = 0>
      </div>
      <div class="form-group">
        <label for="list of skills"> Add Criteria</label>
        <input type="text" name="applicant[skills]" id = "skills" placeholder="Skills, Personal qualities" >
      </div>
       <input type="submit" value='Submit Filter'  class = "filters btn btn-primary">
       <input type="submit" value='Reset' onclick=location.reload() class = "btn btn-info">
     </div>
   </fieldset>
  </form>

</div>



<div class="floatLeft">
 <table class="table table-hover">
   <h4>All Applicants for <%=joblist.title%></h4>
   <thead>
     <tr>
       <th>APPLICANT</th>
       <th>BIO</th>
     </tr>
   </thead>
   <tbody>
     <% joblist.applicants.forEach(function(applicant) { if (applicant) {%>
     <tr>
       <td>
          <a href="/applicants/<%= applicant.id%>"><%=applicant.name%></a><br>
          <%= applicant.email %> <br>
          <%= applicant.contact %>
       </td>
       <td><%= applicant.bioText %></td>
     </tr>
         <% }}) %>
   </tbody>
 </table>
 </div>
 </div>
