<div class="container">
<div class = "floatRight">

  <h4>  </h4>
   <form class = "filters" data-job-id="<%=joblist._id%>">
     <fieldset>
    <legend> Candidate Filter </legend>
     <div class="row">
       <div class="form-group row">
         <label for="number of years" class = "col-xs-4 col-form-label">Yrs of Exp >= : </label>
         <input type="number" name="applicant[experience1]" id = "experience1" placeholder="years" value = 0>
       </div>
       <div class="form-group row">
         <label for="number of years" class = "col-xs-4 col-form-label">Yrs of Exp <= : </label>
         <input type="number" name="applicant[experience2]" id = "experience2" placeholder="years" value = 0>
       </div>
       <div class="form-group row">
         <label for="Education types" class = "col-xs-4 col-form-label">Min. Edu: </label>
         <select type="number" name = "applicant[education]" id = "education">
           <option value=1>Diploma</option>
           <option value=2>Bachelor</option>
           <option value=3>Master</option>
           <option value=4>Phd</option>
         </select>
      </div>
      <div class="form-group row">
        <label for="age" class = "col-xs-4 col-form-label">Age <=: </label>
        <input type="number" name="applicant[age]" id = "age" placeholder="years" value = 0>
      </div>
      <div class="form-group row">
        <label for="expected pay" class = "col-xs-4 col-form-label">Budgeted Pay <=: </label>
        <input type="number" name="applicant[expectedPay]" id = "expectedPay" placeholder="Budgeted Salary" value = 0>
      </div>
      <div class="form-group row">
        <label for="list of skills" class = "col-xs-4 col-form-label"> Criteria: </label>
        <input type="text" name="applicant[skills]" id = "skills" placeholder="Skills, Personal qualities" >
      </div>
       <input type="submit" value='Submit Filter'  class = "filters btn btn-primary pull-left">
       <input type="reset" value='Reset' class = "btn btn-info pull-left">
     </div>
   </fieldset>
  </form>

</div>



<div class="floatLeft">
 <table class="table table-hover">
   <h4> <a href = applicants>  All Candidates </a> for <%=joblist.title%></h4>
   <thead>
     <tr>
       <th>APPLICANT</th>
       <th>BIO</th>
     </tr>
   </thead>
   <tbody>
     <% joblist.applicants.forEach(function(applicant) { if (applicant) {%>
     <tr>
       <td>
          <a href="/applicants/<%= applicant.id%>"><%=applicant.name%></a><br>
          <%= applicant.email %> <br>
          <%= applicant.contact %>
       </td>
       <td><%= applicant.bioText %></td>
     </tr>
         <% }}) %>
   </tbody>
 </table>
 </div>
 </div>
