<div class="container">
<div class = "floatRight">

  <h4>  </h4>
   <form class = "filters" data-job-id="<%=joblist._id%>">
     <fieldset>
    <legend> Candidate Filter </legend>
     <div class="row">
       <div class="form-group row">
         <label for="number of years" class = "col-xs-4 col-form-label">Yrs of Exp: </label>
         <input type="number" name="applicant[experience]" id = "experience" placeholder="years" >
       </div>
       <div class="form-group row">
         <label for="Education types" class = "col-xs-4 col-form-label">Min. Edu: </label>
         <select name = "applicant[education]" id = "education">
           <option value="diploma">Diploma</option>
           <option value="bachelor">Bachelor</option>
           <option value="master">Master</option>
           <option value="phd">Phd</option>
         </select>
      </div>
      <div class="form-group row">
        <label for="age" class = "col-xs-4 col-form-label">Age: </label>
        <input type="number" name="applicant[age]" id = "age" placeholder="years" >
      </div>
      <div class="form-group row">
        <label for="expected pay" class = "col-xs-4 col-form-label">Budgeted Pay: </label>
        <input type="number" name="applicant[expectedPay]" id = "expectedPay" placeholder="Budgeted Pay" >
      </div>
      <div class="form-group row">
        <label for="list of skills" class = "col-xs-4 col-form-label"> Add Criteria: </label>
        <input type="text" name="applicant[skills]" id = "skills" placeholder="Skills, Personal qualities" >
      </div>
       <input type="submit" value='Submit Filter'  class = "filters btn btn-primary pull-left">
       <input type="submit" value='Reset' onclick=location.reload() class = "btn btn-info pull-left">
     </div>
   </fieldset>
  </form>

</div>



<div class="floatLeft">
 <table class="table table-hover">
   <h4>All Applicants for <%=joblist.title%></h4>
   <thead>
     <tr>
       <th>APPLICANT</th>
       <th>BIO</th>
     </tr>
   </thead>
   <tbody>
     <% joblist.applicants.forEach(function(applicant) { if (applicant) {%>
     <tr>
       <td>
          <a href="/applicants/<%= applicant.id%>"><%=applicant.name%></a><br>
          <%= applicant.email %> <br>
          <%= applicant.contact %>
       </td>
       <td><%= applicant.bioText %></td>
     </tr>
         <% }}) %>
   </tbody>
 </table>
 </div>
 </div>
