<div class="container">
<div class = "floatLeft">
  <h4> Filter Candidates </h4>

  <h2>Filters</h2>
   <form class = "filters" data-job-id="<%=joblist._id%>">
     <div class="row">
       <div class="four columns">
         <label for="number of years">Experience: </label>
         <input type="number" name="applicant[experience]" id = "experience" placeholder="greater than number of years" >
       </div>
       <div class="four columns">
         <label for="Education types">Education: </label>
         <select name = "applicant[education]" id = "education">
           <option value="diploma">Diploma</option>
           <option value="bachelor">Bachelor</option>
           <option value="master">Master</option>
           <option value="phd">Phd</option>
         </select>
      </div>
      <div class="four columns">
        <label for="age">Age: </label>
        <input type="number" name="applicant[age]" id = "age" placeholder="greater than number of years" >
      </div>
      <div class="four columns">
        <label for="expected pay">Expected Pay: </label>
        <input type="number" name="applicant[expectedPay]" id = "expectedPay" placeholder="Expected Pay" >
      </div>
      <div class="four columns">
        <label for="list of skills">Skills: </label>
        <input type="text" name="applicant[skills]" id = "skills" placeholder="Skills" >
      </div>
       <input type="submit" value='Submit the filters'  class = "filters">
     </div>
  </form>

  <h3> My results: </h3>
  <ul id="results">
    </ul>



</div>



<div class="floatRight">
 <table class="table table-hover">
   <h4>All Applicants for <%=joblist.title%></h4>
   <thead>
     <tr>
       <th>APPLICANT</th>
       <th>BIO</th>
     </tr>
   </thead>
   <tbody>
     <% joblist.applicants.forEach(function(applicant) { if (applicant) {%>
     <tr>
       <td>
          <a href="# %>"> <%= applicant.name %>  </a><br>
          <%= applicant.email %>
          <%= applicant.contact %>
       </td>
       <td><%= applicant.bioText %></td>
     </tr>
         <% }}) %>
   </tbody>
 </table>
 </div>
 </div>
