<!doctype html>
<html>
<head>
    <style>
        /*body        { padding-top:80px; word-wrap:break-word; }*/
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1>Profile for <%=user.local.name%></h1>
    </div>
</div>
<div class = "container">
<div class="floatLeft">
 <table class="table table-hover current-jobs">
   <h4> Current Job List</h4>
   <thead>
     <tr>
       <th>TITLE</th>
       <th>POST DATE</th>
       <th>FILLED</th>
     </tr>
   </thead>
   <tbody>
     <% joblists.forEach(function(joblist) { if (joblist.filled == false) {%>
     <tr class= "<%=joblist._id%>">
       <td>
        <a href="# %>"> <%= joblist.title %>  </a><br>
         <%= joblist.description %>
       </td>
       <td><%= joblist.postDate.toDateString() %></td>
       <td><%= joblist.filled %></td>
       <td> <input type ="submit" value = "Position Filled" data-job-id="<%=joblist._id%>" class="btn btn-primary navigation closed"> </td>
       <td> <input type ="submit" value = "View Applicants" onclick=location.href="/<%= joblist._id%>/applicants"  class="btn btn-info navigation" See Applicants </td>
     </tr>
     <% }}) %>
   </tbody>
 </table>
 </div>

 <div class="floatRight">
  <table class="table table-hover">
    <h4> Previous Job Postings</h4>
    <thead>
      <tr>
        <th>TITLE</th>
        <th>POST DATE</th>
        <th>FILLED</th>
      </tr>
    </thead>
    <tbody>
      <% joblists.forEach(function(joblist) { if (joblist.filled == true) {%>
      <tr>
        <td>
         <a href="# %>"> <%= joblist.title %>
        </td>
        <td><%= joblist.postDate.toDateString()%></td>
        <td><%= joblist.filled %></td>
        <td> <a href="/<%= joblist._id%>/applicants">See Past Applicants</a></td>
      </tr>
      <% }}) %>
    </tbody>
  </table>
  </div>
</div>
</body>
</html>
