<%# <!doctype html>
<html>
<head>
    <style>
        /*body        { padding-top:80px; word-wrap:break-word; }*/
    </style>
</head>

<body>%>

<body>
  <% if(message1.length > 0) { %>
  <div class="alert alert-danger">
    <%= message1 %>
  </div>
  <% } %>
  <% if(message2.length > 0) { %>
    <div class="alert alert-success">
    <%= message2 %>
    </div>
  <% } %>
  <% if(message3.length > 0) { %>
    <div class="alert alert-success">
    <%= message2 %>
    </div>
  <% } %>

<div class = "container">
  <h1>Jobs Created by <%=user.local.name%></h1>
<%# <div class="floatLeft">%>
 <table class="table table-hover">
   <h2> Current Job Postings</h2>
   <thead>
     <tr>
       <th>TITLE</th>
       <th>POST DATE</th>
       <th>FILLED</th>
     </tr>
   </thead>
   <tbody>
     <% joblists.forEach(function(joblist) { if (joblist.filled == false) {%>
     <tr class= "<%=joblist._id%>">
       <td>
         <a href="/joblists/<%= joblist._id%>" target="_blank"> <%= joblist.title %></a><br>
         <%= joblist.description.slice(0,150) %>
       </td>
       <td><%= joblist.postDate.toDateString() %></td>
       <td><%= joblist.filled %></td>
       <td> <input type ="submit" value = "Position Filled" data-job-id="<%=joblist._id%>" class="btn btn-primary navigation closed"> </td>
       <td> <input type ="submit" value = "View Applicants" onclick=location.href="/<%= joblist._id%>/applicants"  class="btn btn-info navigation" See Applicants </td>
     </tr>
     <% }}) %>
   </tbody>
 </table>
 <%# </div>%>

 <%# <div class="floatRight">%>
  <table class="table table-hover">
    <h2> Previous Job Postings</h2>
    <thead>
      <tr>
        <th>TITLE</th>
        <th>POST DATE</th>
        <th>FILLED</th>
      </tr>
    </thead>
    <tbody>
      <% joblists.forEach(function(joblist) { if (joblist.filled == true) {%>
      <tr>
        <td>
         <a href="/joblists/<%= joblist._id%>" target="_blank"> <%= joblist.title %>
        </td>
        <td><%= joblist.postDate.toDateString()%></td>
        <td><%= joblist.filled %></td>
        <td> <a href="/<%= joblist._id%>/applicants">See Past Applicants</a></td>
      </tr>
      <% }}) %>
    </tbody>
  </table>
  <%# </div>%>
</div>
<%# </body>
</html>%>
