<!doctype html>
<html>
<head>
    <style>
        /*body        { padding-top:80px; word-wrap:break-word; }*/
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1>Profile for <%=user.local.name%></h1>
    </div>
</div>

<div class="container">
 <table class="table table-hover">
   <thead>
     <tr>
       <th>TITLE</th>
       <th>EXPIRED</th>
       <th>POST DATE</th>
       <th>FILLED</th>
     </tr>
   </thead>
   <tbody>
     <% joblist.forEach(function(job) { %>
     <tr>
       <td>
        <ul> <a href="# %>"> <%= job.title %>  </a><br>
         <%= job.description %> </ul>
       </td>
       <td><%= job.expired %></td>
       <td><%= job.postDate %></td>
       <td><%= job.filled %></td>
       <td><a href="# %>"> Close Job </a><br></td>
       <td><a href="# %>"> See Applicants </a><br></td>
     </tr>

     <% }) %>
   </tbody>
 </table>
 </div>

 <div class="container">
   <p> test </p>
 </div>


</body>
</html>
